@import "./variables";

:export {
  gray700: $gray-700;
  yellow: $yellow;
  orange: $orange;
  gray400: $gray-400;
  aqua: $aqua;
  goldenBrown: $golden-brown;
  oldLavender: $old-lavender;
  pink: $pink;
}
