@import 'src/styles/variables';

.checkout {
  border-radius: 8px;
  font-weight: 500;
  display: block;
  width: 115px;
  text-align: center;
  margin: 0 auto;

  &-passed {
    border-radius: 8px;
    color: #394B41 !important;
    background: rgba($light-green, .2) !important;

    &:hover {
      color: $pink !important;
    }
  }
}

.nav {
  @media (max-width: 1200px) {
    .nav-item {
      flex-basis: 50%;
      border-radius: 15px;
      margin-top: 1rem;
    }

    .nav-item:nth-child(-n + 2) {
      margin-top: 0;
    }
  }
}
