@import 'src/styles/variables';

.borderless-input-box {
  margin: auto 0;
  background-color: inherit;

  &--dark {
    border-bottom: 1px solid $light-pink;
  }

  &--dark:focus-within {
    border-bottom: 3px solid $bright-yellow;
  }

  &--light {
    border-bottom: 3px solid $light-pink;
    color: $light-gray;
  }

  &--light:focus-within {
    border-bottom: 3px solid $yellow;
    color: black;

    .input-borderless {
      color: black;
    }
  }
}

.input-borderless {
  width: 100%;
  border: none;
  outline: none;
  padding-right: 0;
  padding-left: 0;
  background-color: inherit;

  &--dark,
  &--dark:-webkit-autofill {
    color: $light-pink;
    -webkit-text-fill-color: $light-pink !important;
    caret-color: #29080f;
  }

  &--dark:focus,
  &--dark:-webkit-autofill:hover,
  &--dark:-webkit-autofill:focus {
    background-color: inherit;
    color: white;
    -webkit-text-fill-color: white !important;
  }

  &--light {
    caret-color: $pink;
    color: $light-gray;
  }

  &--light:focus {
    color: $dark-gray;
  }

  &--light:-webkit-autofill,
  &--light:-webkit-autofill:hover {
    caret-color: $pink;
    color: #f8e1e000 !important;
  }

  &--light:-webkit-autofill:active,
  &--light:-webkit-autofill:focus,
  &--light:-webkit-autofill:focus-within,
  &--light:-webkit-autofill:target,
  &--light:-webkit-autofill:visited {
    background-color: inherit;
    color: $dark-gray !important;
    -webkit-text-fill-color: $dark-gray !important;
  }
}
